/*
########## ########## Variables ########## ##########
*/

/* Colors */

$clr-main-color: #E16428;
$clr-main-color-hover: #c0521f;
$clr-dark-color: #272121;
$clr-dark-gray-color: #363333;
$clr-light-color: #F6E9E9;
$clr-light-gray-color: #D9D9D9;
$clr-gray-color: #8A969B;
$clr-medium-gray-color: #5D666A;
$clr-white-color: #FAFAFA;

/* Spacing */

$columns-mobile: 0 24px;
$columns-tablet: 0 72px;
$columns-desktop: 0 144px;

/* Font Size*/

$fs-phone-number: 3.2rem;
$fs-largest-title: 2.4rem;
$fs-medium-title: 1.6rem;
$fs-copy: 1.4rem;
$fs-small: 1.2rem;


/* Typography */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');
